/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* intestazione pagina */

header {
    background-color: #255ee9;
    padding-top: 20px;
    padding-bottom: 20px;
}

.flex-container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
}

header > .flex-container {
    background-color: #255ee9;
}

.flex-container > .logo {
    flex-grow: 1;
}

.flex-container > .login {
    flex-grow: 1;
    text-align: end;
}

.flex-container > .info {
    flex-grow: 2;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    font-size: 16px;
} 

/* Buttons */

.smallbutton {
    border-radius: 20px;
    padding: 10px 15px;
    background-color: #ffffff;
    font-weight: bold;
}

.bigbutton {
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 25px;
    margin-top: 20px;
}

.discordbutton {
    background-color: #23272a;
    color: #ffffff;
}


/* Corpo della pagina */

main > section {
    padding: 50px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}


/* Jumbosection */

.jumbosection {
    background-image: url(../img/jumbo.png);
    background-size: cover;
}


.jumbosection > .container {
    /* width: 950px;  */
    margin: 0 auto; 
}

.jumbosection .container > .row {
    text-align: center;
    padding-top: 80px;
}

h1 {
    font-size: 50px;
    color: #ffffff;
    padding-bottom: 20px;
}

.intro {
    font-size: 25px;
    color: #ffffff;
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
    line-height: 150%;
    
}


/* Small-big boxes */

.bigbox {
    width: 800px;
    display: flex;
}

.smallbox {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 10px 60px;
}

h2 {
    font-size: 30px;
    line-height: 150%;
}

.smallbox > p {
    font-size: 15px;
    margin-top: 30px;
    line-height: 150%;
}

.bg-grey .smallbox {
    order: -1;
}

.bg-grey .bigbox 


/* Green row */

.bg-grey .container .row {
    height: 800px;
    background-color: #228b22;
    border: 2px dashed #000000;
}

/* rimuovere altezza */

/* Footer sections */

/* First part */

.double {
    background-color: #23272a;
    height: 600px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.singlesection {
    width: 400px;
    background-color: #f08080;
    border: 2px dashed #000000;
}

.fewsections {
    width: 800px;
    background-color: #20b2aa;
    display: flex;
}

.menu {
    width: 200px;
    border: 2px dashed #ffff;
}

h3 {
    color: #9a9a9a;
}

/* Second part */

.banner {
    padding-top: 20px;
}

.buttons2 {
    background-color: #7fffd4;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
}

/* button {
    background-color: #ffb6c1;
}

.buttons > button {
    padding: 5px;
    border: 2px dashed #000000;
} */


/* Background colors*/

.bg-blue {
    background-color: blue;
}

.bg-grey {
    background-color: #d3d3d3;
}

.bg-darkgrey {
    background-color: #23272a;
}

/* Da rimuovere */

.debug .row {
    height: 400px;
}

/* .debug .bg-grey .row, .debug .bg-white .row {
    height: 500px;
} */