/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* intestazione pagina */

/* Logo e info */

header {
    background-color: #255ee9;
    padding-top: 20px;
    padding-bottom: 20px;
}

.flex-container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
}

header > .flex-container {
    background-color: #255ee9;
}

.flex-container > .logo {
    flex-grow: 1;
}

.flex-container > .login {
    flex-grow: 1;
    text-align: end;
}

.flex-container > .info {
    flex-grow: 2;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    font-size: 16px;
} 

/* Buttons */

.smallbutton {
    border-radius: 20px;
    padding: 10px 15px;
    background-color: #ffffff;
    font-weight: bold;
}

.bigbutton {
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 25px;
    margin-top: 20px;
}

.discordbutton {
    background-color: #23272a;
    color: #ffffff;
    margin-left: 15px;
}

.banner .flex-container .smallbutton {
    background-color: #7288da;
    color: #ffffff;
}


/* Corpo della pagina */

main > section {
    padding: 50px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}


/* Jumbosection */

.jumbosection {
    background-image: url(../img/jumbo.png);
    background-size: cover;
}


.jumbosection > .container {
    width: 950px; 
    margin: 0 auto; 
}

.jumbosection .container > .row {
    text-align: center;
    padding-top: 80px;
}

h1 {
    font-size: 50px;
    color: #ffffff;
    padding-bottom: 20px;
}

.intro {
    font-size: 25px;
    color: #ffffff;
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
    line-height: 150%;
    
}


/* Middle main layout sections */

.layoutimage {
    width: 800px;
    display: flex;
}

.text {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 10px 60px;
}

h2 {
    font-size: 30px;
    line-height: 150%;
}


.text > p  {
    font-size: 15px;
    margin-top: 30px;
    line-height: 150%;
}

.bg-grey .text {
    order: -1;
}

/* Big main section */

.bigcontainer {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.bigcontainer h2 {
    padding-bottom: 30px;

}

.bigcontainer p {
    font-size: 15px;
    line-height: 150%;
}

.macbotton {
    background-color: #7288da;
    color: #ffffff;
    margin-top: 50px;
}

.download {
    padding-bottom: 30px;
}

/* Footer sections */

/* First part */

.double {
    background-color: #23272a;
    height: 600px;
    padding-top: 50px;
    padding-bottom: 30px;
    border-bottom:1px solid #7288da;
}

.singlesection {
    width: 300px;
}

.singlesection > h3 {
    padding-bottom: 15px;
}

.language {
    color: #ffffff;
    font-size: 15px;
}

.flag {
    width: 20px;
    height: 15px;
}

.social {
    padding-top: 10px;
    letter-spacing: 10px;
}

.fewsections {
    display: flex;
}

.fewsections {
    width: 800px;
    display: flex;
}


li, .social, div > .bandiera {
    list-style-type: none;
    line-height: 300%;
    font-size: 15px;
    color: #ffffff;
}
.menu {
    width: 200px;
}
h3 {
    font-size: 25px;
    color: #7288da;
}

.menu > li:first-child {
    color: #7288da;
    font-weight: bold;

}


/* Second part */

.banner {
    padding-top: 20px;
}

.banner .flex-container {
    padding-bottom: 40px;
    background-color: #23272a;
    justify-content: space-between;
}

/* Background colors*/

.bg-grey {
    background-color: #d3d3d3;
}

.bg-darkgrey {
    background-color: #23272a;
}